secret_key_base:
production:
  google_auth:
    client_id:
    client_secret:
  stripe:
    publishable_key:
    secret_key:
development:
  google_auth:
    client_id:
    client_secret:
  stripe:
    publishable_key:
    secret_key:
